AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=eu-north-1
S3_BUCKET_NAME=your-bucket-name
AIRFLOW_UID=1000
GMAIL_USER=your_gmail_address@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=market_data
